@font-face {
    font-family: FiraSans-Bold;
    src: url(../fonts/FiraSans-Bold.otf);
}

h1{
    font-family: FiraSans-Bold;
    color: #fff;
    font-size: 5rem;
    text-align: center;
    background: -webkit-linear-gradient(#060606, #ff8d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    background: url(../images/img2.jpg) no-repeat;
    background-size: cover;
    background-position: inherit;
    background-color: #080808;
}

.dsp{
    position: absolute;
    width: 100%;
}

.imgprincipal{
    max-width: 74%;
}

p{
    color:white;
}

.boxtext{
    margin: 130px 0 0 0;
}

.boxtext p{
    max-width: 70%;
    font-size: 1.3rem;
}

.boxtext h1{
    color: white;
    font-size: 4rem;
    font-weight: 700;
}

.art{
    margin-top: 35px;
}

#mint{
    font-size: 1rem;
}

#drip{
    position: fixed;
    z-index: -1;
}

.imglist{
    max-height: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.onesec{
    margin: 70px auto;
    width: 70%;
}

.secic{
    margin: 30px 0;
}

.secic span{
    padding: 10px;
    background: #0e0e0e;
    border-radius: 100%;
}

@media (max-width: 500px){
    .onesec {
        width: 100%;
        margin: 135px auto;
    }
    .secic span {
        margin-bottom: 10px;
    }
    h1{
        font-size: 4rem;
    }
    body{
        background-size: 100%;
        background-position-y: 7%;
    }
    .boxtext {
        margin: 40px 0 0 0;
    }
    .art {
        margin-top: 49px;
        margin-bottom: -80px;
    }
}